<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ComandaDataLibs.Properties.Settings.Comanda_net_databaseConnectionString"
            connectionString="Data Source=USER-PC;Initial Catalog=Comanda_net_database;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>